#name{ 
    color: rgb(191, 214, 232);
    background-color:maroon;
}
#text{
    color:brown; 
}
#fact ul{
    color:green
}
h2{
    color:plum;
    background-color:darkslateblue;
}
.card{
    background-color:white;
}
#img{
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
    height: 700px;
    width: 550px; 
    border: 6px solid black;
} 